.form-control
{
	height: 8vh;
	font-size: 4vh;
	width: 100%;
}

.logo
{
	margin-top: 3vh;
	height: 35vh;
}



.btn
 {
 	height: 8vh;
 	width: 40vw;
 	font-size: 4vh;
 	background: transparent;
	color: #F2F2F2;

 }

.connection{ 
	width: 90%;
	height: 0px;
	position: absolute;
    top:10%;
    bottom: 0;
    left: 0;
    right: 0;

     margin: auto;
}

.coordonnees{ 
	width: 90%;
	height: 0px;
	position: absolute;
    top: 0;
    bottom: 80%;
    left: 0;
    right: 0;

     margin: auto;
}

.create_account
{
	width: 90%;
	height: 0px;
	position: absolute;
    top:10%;
    bottom: 0;
    left: 0;
    right: 0;

     margin: auto;
}

.create
{
	width: 90%;
	height: 0px;
	position: absolute;
    top:75%;
    bottom: 0;
    left: 0;
    right: 0;

     margin: auto;
}

