.remoteVideo
{
	height: 40vh;
	position: absolute;
    top: 10vh;
    bottom: 20vh;
    left: 0;
    right: 0;
    margin: auto;

}

.localVideo
{
	height: 20vh;
	position: absolute;
    top:55vh;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: auto;
}

.hangup
{
	height: 8vh;
	width: 20vw;
	font-size: 4vmin;
	position: absolute;
	bottom: 2vh;
	left: 40vw;
}


#pendingCalls	{
		height: 70vh;
	width: 20vw;
	position: absolute;
	top: 25vh;
	left: 3vw;
}



/*
#pendingCalls tr	{
	height: 50px;
	display: block;
}*/