#viewer	{
	position: relative;
	height: 800px;
	width: 1800px;
	margin: auto;
	margin-top: 100px;
}



#viewer img	{
	max-height: 800px;
	max-width: 1200px;
	margin: auto;
	display: block;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}



#next, #previous	{
	position: absolute;
	height: 800px;
	width: 100px;
	display: block;
	top: 0px;
}

#next	{
	left: 1700px;
}

#previous	{
	left: 0px;
}


#next a, #previous a	{
	width: 43px;
	margin: auto;
	display: block;
	height: 50px;
	margin-top: 375px;
}

#next a	{
	background: url("next.png") no-repeat;
}

#next a:hover	{
	background: url("noNext.png") no-repeat;
}

#previous a	{
	background: url("previous.png") no-repeat;
}

#previous a:hover	{
	background: url("noPrevious.png") no-repeat;
}

#next div, #previous div	{
	width: 43px;
	margin: auto;
	display: block;
	height: 50px;
	margin-top: 375px;
}

#next div	{
	background: url("noNext.png") no-repeat;
}

#previous div	{
	background: url("noPrevious.png") no-repeat;
}