<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CLIENT</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
         <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/help.css" type="text/css">

    </head>
 
    <body class="bg-primary">
        <h2 class="text-center">Client : <%=client.name%> </h2>
        
        <button id='help' class="btn btn-success help">Help!</button>


        <!--  CONFERENCE PART   -->

            <video id="localVideo" class="localVideo"  autoplay></video>

            <video id="remoteVideo" class="remoteVideo" autoplay></video>

            <button id="hangupButton" class="btn btn-danger hangup">Hang Up</button> 

        <script type="text/javascript">

            function User (email, name){

              this.email = email;
              this.name = name;
              this.id;

            }



            function Staff (email, name){
              this.base = User;
              this.base(email, name);
              this.staff = true;

            }
            Staff.prototype = new User;
            Staff.prototype.toString = function () {
              return "Staff : "+ this.name;
            };//methode toString



            function Client (email,name){
              this.base = User;
              this.base(email, name);
              this.client = true;

            }
            Client.prototype = new User; //héritage
            Client.prototype.toString = function () {
              return "Client : "+ this.name;
            };//methode toString


            var client = new Client('', '<%=(client.name)%>');

        </script>
        <script src="js/lib/adapter.js"></script>
        <script src="js/lib/socket.io.js"></script>
        <script src="js/webRTC.js"></script>        
        <script src="js/client.js"></script>
    </body>
</html>