<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/home.css" type="text/css">




</head>


<body class="bg-primary">
<div id="logger">
<div class="container">
    <form method="post" action="userConnection" class="form-horizontal"> <!-- ICI FAUT PAS METTRE LE / AVANT userConnection SINON CA MARCHE PAS SUR TEL -->
        <div class="form-group text-center">
            <div class="col-lg-6">
                <img src="image/google-webrtc-logo.png" class="logo"/>
            </div>
        </div>
        <div class="connection">
            <div class="form-group">
                <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-lg-6">
                    <input type="submit" class="btn btn-default" id="send" value="Connection" />
                </div>
            </div>
        </div>
    </form>
    <form method="post" action="createAccount" class="form-horizontal">
        <div class="create">
            <div class="form-group text-center">
                <div class="col-lg-6">
                    <input type="submit" class="btn btn-default" value="Create account" />
                </div>
            </div>
        </div>
    </form>

</div>
</div>
</body>




</html>