<!DOCTYPE html>
<html>
<script type="text/javascript" src="ejs_production.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="workspace.css" type="text/css">

  <body>
        <h1>Control page</h1>

        <h2>Agent : <%=staff_member.name%></h2>


        <!--  CONFERENCE PART   -->
         <div >
            <table>
              <tr>
                <td>
                  <video width="300" height="300" autoplay ></video>
                </td>
                <td>
                  <video id="remoteVideo" autoplay></video>
                </td>

              </tr>
              <tr>
                <td align="center">

                  <button id="startButton">Start</button>
                  <button id="callButton">Call</button>
                  <button id="hangupButton">Hang Up</button>
                  
                </td>
                <td>
                </td>
              </tr>
                <tr>
                    <td align="center">
                        <textarea rows="4" cols="60" id="dataChannelSend" disabled placeholder="This will be enabled once the data channel is up..."></textarea>
                    </td>
                    <td align="center">
                        <textarea rows="4" cols="60" id="dataChannelReceive" disabled></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <button id="sendButton" disabled>Send</button>
                    </td>
                    <td></td>
                </tr>
            </table>  

          </div>



        <!--  LIST OF PENDING CALLS -->
        <table class="table" id="pendingCalls">
        </table>



        <script src="js/lib/adapter.js"></script>
        <script src="js/lib/socket.io.js"></script>
        <script src="js/webRTC.js"></script>        
        <script src="js/operator.js"></script>

</body>

<%- include utilities/footer.ejs%>

</html>