<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>OPERATOR</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
     <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/workspace.css" type="text/css">

  </head>
  <body class="bg-primary">
        <h1 class="text-center">Control page</h1>
        <h2 class="text-center">Agent : <%=staff_member.name%> </h2>

        <%- include utilities/statusArea.ejs%>


        <!--  CONFERENCE PART   -->


        <video id="remoteVideo" class="remoteVideo" autoplay></video>
        <video id="localVideo" class="localVideo"  autoplay></video>



        <button id="hangupButton" disabled="true" class="btn btn-danger hangup">Hang Up</button> 



        <!--  LIST OF PENDING CALLS -->
        <table class="table" id="pendingCalls">
          <tbody>
            <tr>
              <td>Pending calls</td>
            </tr>
          </tbody>
        </table>



        <script src="js/lib/adapter.js"></script>
        <script src="js/lib/socket.io.js"></script>
        <script src="js/webRTC.js"></script>        
        <script src="js/operator.js"></script>

</body>

<%- include utilities/footer.ejs%>

</html>