<!DOCTYPE html>
<html>
<script type="text/javascript" src="ejs_production.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/workspace.css" type="text/css">

  <body>
        <h1>Control page</h1>

        <h2>Agent : <%=staff_member.name%></h2>


        <!--  CONFERENCE PART   -->
         <div >
            <table>
              <tr>
                <td>
                  <video id="localVideo" autoplay></video>
                </td>
                <td>
                   <video id="remoteVideo" autoplay></video>
                </td>
              </tr>
              <tr>
                <td id="hangupSpace">
                </td>
              </tr>
            </table>  

          </div>



        <!--  LIST OF PENDING CALLS -->
        <table class="table" id="pendingCalls">
        </table>



        <script src="js/lib/adapter.js"></script>
        <script src="js/lib/socket.io.js"></script>
        <script src="js/webRTC.js"></script>        
        <script src="js/operator.js"></script>

</body>

<%- include utilities/footer.ejs%>

</html>