<html>
<!DOCTYPE html>
<head>
	<!--
	//importer les libairies utilisé.
	//meta données si besion
	//bref ce que tu pense necessaire
	//titre de la page 
	-->
	<title><%=staff_member.name%></title>

	
</head>


<body>
	<!--
	//une bare de menue avec login logout
	//la page
	-->