<div id="statusArea">
	<h4>Everything is fine... for now !</h4>
</div>


<script type="text/javascript">

	function statusLog(text)	{
		document.getElementById('statusArea').innerHTML = '<h4>'+text+'</h4>';
	}

</script>


<style type="text/css">
	#statusArea	{
		width: 80vw;
		  height: 70px;
		  margin: auto;
		  background: rgb(30, 90, 100);
		  border-radius: 10px;
		  text-align: center;
		  vertical-align: middle;
	}

	#statusArea h4	{
		line-height: 70px;
		height: 70px;
	}
</style>